<VirtualHost *:80>

        ServerAdmin marcello.dimarino@gmail.com

        ServerName blog.vagrant.local

        DocumentRoot /var/www/{{ WORDPRESS_HOME }}/wordpress

        <Directory />
                Options FollowSymLinks
                AllowOverride None
        </Directory>

        <Directory /var/www/{{ WORDPRESS_HOME }}/wordpress>
            Options FollowSymLinks
            AllowOverride Limit Options FileInfo
            DirectoryIndex index.php
            Require all granted
        </Directory>

        <Directory /var/www/{{ WORDPRESS_HOME }}/wordpress/wp-content>
            Options FollowSymLinks
            Require all granted
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/blog.vagrant.local-error.log

        # Possible values include: debug, info, notice, warn, error, crit,
        # alert, emerg.
        LogLevel warn

        CustomLog ${APACHE_LOG_DIR}/blog.vagrant.local-access.log combined

        RewriteEngine On

        RewriteCond %{REQUEST_METHOD} ^(delete|head|trace|track) [NC]
        RewriteRule ^(.*)$ - [F,L]

</VirtualHost>
